# This .envrc file is used with direnv to ensure a consistent
# development environment across our team.

set -eu

if type nix >/dev/null 2>&1; then
  use flake ./tools/nix
fi

source tools/shell/profile
